<footer>
  <div style="background-color: #571089; color: white;">
    <div class="container" style="background-color: #571089;"">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="font-size: 15px;">Aquí te dejamos nuestras redes ¿Qué esperas para seguirnos? </h6>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a style="color: aqua" href="https://twitter.com/MineFastia"><i class="fab fa-twitter" style="font-size: 25px; padding: 0 15px 0 0;"></i></a>
          <a style="color: rgb(82, 82, 230)" href="https://www.minefastia.com/discord"><i class="fab fa-discord" style="font-size: 25px; padding: 0 15px 0 0;"></i></a>
          <a style="color: red" href="https://www.youtube.com/user/MineFastia"><i class="fab fa-youtube" style="font-size: 25px; padding: 0 15px 0 0;"></i></a>
          <a style="color: white" href="https://www.tiktok.com/@minefastia"><i class="fab fa-tiktok" style="font-size: 25px; padding: 0 15px 0 0;"></i></a>
          <a style="color: black" href="https://www.github.com/MineFastia"><i class="fab fa-github" style="font-size: 25px; padding: 0 15px 0 0;"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3" style="background-color: #47126B; color: #ccc;"><a href="/" style="color: violet;"> FastiaStudios</a> &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Todos los derechos revervados.
    <a href="/" style="color: rgb(197, 129, 197);">Términos y Condiciones</a><a> | </a><a href="/" style="color: rgb(197, 129, 197);;">Política de privacidad</a><a> | </a><a href="/" style="color: rgb(197, 129, 197);">Contacto</a>
  </div>
</footer>

