<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/main-styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<script src="https://kit.fontawesome.com/0f4ff8e724.js" crossorigin="anonymous"></script>

<title>MineFastia</title>
<link rel="icon" href="images/favicon.png" type="image/png">
<meta property="og:title" content="MineFastia">
<meta property="og:site_name" content="mc.minefastia.com">
<meta property="og:url" content="">
<meta property="og:description" content="Somos un servidor de Minecraft no premium que empezó su viaje en mayo del 2021 y desde entonces hemos trabajado arduamente para llevar el servidor adelante. Nuestro propósito es crear una comunidad totalmente agradable para todas las personas, dando lo mejor de nosotros para destacar.">
<meta property="og:type" content="website">
<meta property="og:image" content="images/favicon.png">		