<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo">MINE<strong style="color: #822FAF;">FASTIA</strong></div>
	<ul class="links">
		<li><a href="/">Inicio</a></li>
		<li><a href="https://minefastia.craftingstore.net">Tienda</a></li>
		<button type="button" class="btn btn-ligth" style="background-color: #6411AD;
			color: white;" onclick="window.location.href='/comunidad/postulacion'">Postulaciones</button>
	</ul>
	<label for="nav-toggle" class="server-icon">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>